// ***** COLORS *****

// ----------------------------------------------

// ***** FONT WEIGHTS *****
$fw-light: 300;
$fw-regular: 400;

// ----------------------------------------------

// ***** FONT SIZES *****
$fs-base: 1.6rem;
$fs-big: 3.2rem;
$fs-small: 1.8rem;
